<h2>Login Form</h2>

<form [formGroup]="loginform" (ngSubmit)="onSubmit()" #form="ngForm">
    <label>Firstname:</label>
    <input type="text" formControlName="firstname" />
    <span *ngIf="isSubmitted && loginform.controls.firstname?.errors?.required">FirstName is Required</span>
    <!-- <span class="errors" *ngIf="loginform.get('firstname').hasError">FirstName is Invalid</span> -->
    <span *ngIf="loginform.get('firstname')?.invalid">FirstName is Invalid</span>
    <br />

    <label>Lastname:</label>
    <input type="text" formControlName="lastname" />
    <span *ngIf="isSubmitted && loginform.controls.lastname?.errors?.required">LastName is Required</span>
    <br />

    <label>Email:</label>
    <input type="text" formControlName="email" />
    <span *ngIf="isSubmitted && loginform.controls.email?.errors?.required">Email is Required</span>
    <span *ngIf="isSubmitted && loginform.controls.email?.errors?.email">Please enter valid email</span>
    <br />

    <label>Password:</label>
    <input type="text" formControlName="password" />
    <br />

    <label>Confirm Password:</label>
    <input type="text" formControlName="cpassword" />
    <br />

    <button type="submit">Login</button>
</form>